Repository wotta/laravel-dashboard-sentry-tile: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-composer-json, check-php-debug, check-js-debug, check-view-with-with

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: validate-composer-json
        name: Validate Composer JSON
        entry: "composer validate"
        language: system
        files: composer\.json
      - id: check-php-debug
        name: Check php debug statements
        language: pygrep
        entry: '\b(print_r|dump|var_dump|die|dd)\s*\('
        files: .*\.(php|phtml)$
      - id: check-js-debug
        name: Check javascript debug statements
        language: pygrep
        entry: '\b(console\s*\.\s*debug|console\s*\.\s*log)\s*\('
        files: resources/js/.*\.(js|html|vue)$
      - id: check-view-with-with
        name: Check for view()->with
        language: pygrep
        entry: 'view\([^\)]*?\)\s*->with\('
        files: .*\.php$
      - id: php-cs
        name: Run Code Sniffer fixer
        language: system
        entry: 'composer format'
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: check-xml
      - id: check-merge-conflict
  - repo: https://github.com/digitalpulp/pre-commit-php.git
    rev: 1.3.0
    hooks:
      - id: php-lint
      - id: php-lint-all
exclude: public/.*

Removed laravel 7 compatibility because spatie dashboard doesn't allow laravel 7 to be used.
  composer.json
Due: validate-composer-json

Updated the documentation.
  README.md
Due: none

Updated the changelog.
  CHANGELOG.md
Due: none

Updated the test actions to make sure they only run on pr's.
  .github/workflows/run-tests.yml
Due: none

Parsed the date fields with carbon and casted the columns in the issue model.
  src/Console/Commands/ListenForSentryIssuesCommand.php
  src/Models/Issue.php
Due: check-php-debug, check-view-with-with

Updated changelog.
  CHANGELOG.md
Due: none

Updated the tile views so we display the correct information for different tiles.
  resources/views/teams/tile.blade.php
Due: check-php-debug, check-view-with-with

Added an autoloading feature to register new components.
  src/SentryTileServiceProvider.php
Due: check-php-debug, check-view-with-with

Added the team relation for a project.
  src/Models/Project.php
Due: check-php-debug, check-view-with-with

Created a base component that you can extent.
  src/Http/Livewire/BaseSentryComponent.php
Due: check-php-debug, check-view-with-with

Moved the `GetLatestProjectIssues` to the `Actions` folder and made the limit configurable.
  src/Actions/GetLatestProjectsIssues.php
Due: check-php-debug, check-view-with-with

Moved the sentry tile component to the `Http\Livewire` folder. Made some improvement so we keep the dynamic functionality of livewire.
  src/Http/Livewire/SentryTileComponent.php
  src/SentryTileComponent.php
Due: check-php-debug, check-view-with-with

Added a new team component and an action to get the latest issue for a team.
  src/Actions/GetLatestTeamIssues.php
  src/Http/Livewire/SentryTeamIssuesComponent.php
Due: check-php-debug, check-view-with-with

Fixed the sentry tile component.
  resources/views/tile.blade.php
  src/Http/Livewire/SentryTileComponent.php
Due: check-php-debug, check-view-with-with

Removed some paths from the cs fixer config.
  .phpcs_laravel.php
Due: check-php-debug, check-view-with-with

Remove sleep from service provider
  src/SentryTileServiceProvider.php
Due: check-php-debug, check-view-with-with

Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore(composer.json): Removed some text from description.
  composer.json
Due: validate-composer-json

chore(composer.json): Updated Guzzle version number for require-dev
  composer.json
Due: validate-composer-json

chore(composer.json): Updated orchestra/testbench version.
  composer.json
Due: validate-composer-json
